[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest
[submodule "third-party/opencl-headers"]
	path = third-party/opencl-headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
[submodule "third-party/opencl-clhpp"]
	path = third-party/opencl-clhpp
	url = https://github.com/KhronosGroup/OpenCL-CLHPP
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib
[submodule "third-party/libpng"]
	path = third-party/libpng
	url = https://github.com/glennrp/libpng
[submodule "third-party/sse_mathfun_ext"]
	path = third-party/sse_mathfun_ext
	url = https://github.com/luki1129/sse_mathfun_extension
[submodule "third-party/libxml2"]
	path = third-party/libxml2
	url = https://github.com/GNOME/libxml2
