[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest
[submodule "opencl-headers"]
	path = opencl-headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
[submodule "opencl-clhpp"]
	path = opencl-clhpp
	url = https://github.com/KhronosGroup/OpenCL-CLHPP
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
