[submodule "gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest
[submodule "opencl-headers"]
	path = third-party/opencl-headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
[submodule "opencl-clhpp"]
	path = third-party/opencl-clhpp
	url = https://github.com/KhronosGroup/OpenCL-CLHPP
[submodule "libpng"]
	path = third-party/libpng
	url = https://github.com/glennrp/libpng
[submodule "zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib